MONGODB_URI=

JWT_SECRET=

FRONTEND_URI=

MY_AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

CLOUDFRONT_DOMAIN_NAME=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=

STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY